# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# reactexam1

# dependencies
/reactexam1/node_modules
/simplediary/node_modules
/emotion-diary/node_modules

/reactexam1/.pnp
/simplediary/.pnp
/emotion-diary/.pnp

.pnp.js

# testing
/reactexam1/coverage
/simplediary/coverage
/emotion-diary/coverage

# production
/reactexam1/build
/simplediary/build
/emotion-diary/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
